header{
    background-color: white;
    padding: 10px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-right: 10px;
}

.ranking-btn{
    position: relative;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}
